#pragma once

// Скопируйте этот файл в 'src/secrets.h' и заполните своими данными.
// Файл 'src/secrets.h' находится в .gitignore и не будет отслеживаться.

// Учетные данные WiFi
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "YOUR_WIFI_PASSWORD"

// Учетные данные Telegram Bot
#define BOT_TOKEN "YOUR_BOT_TOKEN"
#define ADMIN_ID "YOUR_ADMIN_CHAT_ID"